<li class="nav-item  @@if (context.isActive) { active }">
    <a class="nav-link d-flex align-items-center" href="./@@Name.html">
        <span class="sidebar-text-contracted text-secondary">S</span>
        <span class="sidebar-text">{{DisplayName}}</span>
    </a>
</li>