<tr>
    {{#each columns}}
    <th>
        {{#if isInput}}
        <input class="form-control" id="HtmlId-{{field}}" name="{{field}}" autocomplete="off" {{#if
            required}}required{{/if}}/>
        {{/if}}
    </th>
    {{/each}}
    <th>
        <button class="btn btn-sm btn-success save-btn" id="TableFooterSaveButtonId"
            data-index="{{@index}}">Save</button>
    </th>
</tr>